<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- Bean definitions go here -->

<!--    Setter Injection-->
    <bean id="petrolEng" class="com.test.PetrolEngine" scope="prototype"> </bean>


    <bean id="car" class="com.test.Car">
<!--        <property name="engine" ref="petrolEng"> </property>-->

<!--        Constructor Injection-->
        <constructor-arg name="engine" ref="petrolEng"> </constructor-arg>
    </bean>

</beans>
